.services{
    .box{
        background-color: var(--primaryBackground);
        padding: 35px;
        i{
            color:var(--primaryColor);

        }
        h3{
            margin-top: 20px;
        }
    }
}