.flexsb{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color:rgb(80, 80, 70);
    border-radius:35px 35px 10px 10px;
    border-bottom: 1px solid greenyellow;
}
}
header{
    background-color:var(--headingColor);
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999;
    a{
        margin-left: 40px;
    }
   
    .toggle{
        cursor: pointer;
        color: var(--white);
        display: none;
    }
    .hideMenu{
        display: block;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--headingColor);
    }
}
@media screen and (max-width:768px) {
    header .nav{
        display: none;
    }
    header a{
        width: 100%;
        display: block;
        color:var(--white);
    }
    header .toggle{
        display: block;
        background:none;
        font-size: 25px;
    }
}