.flexsb{
   display: flex;
   justify-content: space-between; 
}
header{
    background-color:var(--headingColor);
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999;
    a{
        margin-left: 40px;
    }
    button{
        border: none;
        outline: none;
        background: none;
        font-style: 17px;
        background-color:var(--primaryColor);
        color: var(--white);
        padding: 15px 50px;
        border-radius: 50px;
        margin-top: 20px;
        cursor: pointer;
    }
    .toggle{
        cursor: pointer;
        color: var(--white);
        display: none;
    }
    .hideMenu{
        display: block;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--headingColor);
    }
}
@media screen and (max-width:768px) {
    header .nav{
        display: none;
    }
    header a{
        width: 100%;
        display: block;
        color:var(--white);
    }
    header .toggle{
        display: block;
        background:none;
        font-size: 25px;
    }
}