footer{
    text-align: center;
    background-color: var(--primaryBackground);
    padding: 70px;
    margin-top: 50px;

    p{
        font-size: 20px;
    }
    i{
        margin: 5px;
        color: var(--primaryColor);
    }
}

